<% if @admin.school.blank? %>
  <p>Add a school</p>
<% else %>
  <div class="snapshot pt-9 pb-10 mb-12">
    <div class="container">
      <div class="mx-xl-9 py-9 highlight">
        <% todays_tallies = @admin.todays_tallies %>
        <div class='d-flex justify-content-around align-items-center px-10'>
          <% todays_tallies = @admin.todays_tallies %>
          <div class="col-md-4 col-12  text-center d-none d-md-block">
            <div class="snap-cont"><span class="snapshot-embellishment mr-1">#</span><span class="snap-value"><%= @admin.school.combined_donations.count() %></span><span class="snapshot-caption"> donations<span></div>
          </div>
          <div class="col-md-4 col-12 hero text-center">
            <div class="snap-cont"><span class="snapshot-embellishment">$</span><span class="snap-value"><%= dollars(todays_tallies.sum) %></span><span class="snapshot-caption"> today</span></div>
          </div>
          <div class="col-md-4 col-12 text-center d-none d-md-block">
            <div class="snap-cont"><span class="snapshot-embellishment icon mr-1"><i class="far fa-clock" style="vertical-align: top;"></i></span><span class="snap-value"><%= @admin.school.combined_minutes_read %></span><span class="snapshot-caption"> read</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container pt-8">
    <div class="mx-xl-9 pb-9">
      <div class="d-flex flex-wrap justify-content-around">
        <div class="dash-card card">
          <div class="card-img-top pt-5 mt-5">
            <a href="/admins/<%=@admin.id%>/school"><i class="fas fa-school"></i></a>
          </div>
          <div class="card-body pb-5 mb-5">
            <h5 class="card-title">School</h5>
            <p class="card-text">Take control of this place, you're the one in charge</p>
          </div>
        </div>
        <div class="dash-card card">
          <div class="card-img-top pt-5 mt-5">
            <a href="/admins/<%=@admin.id%>/teachers"><i class="fas fa-chalkboard-teacher"></i></a>
          </div>
          <div class="card-body pb-5 mb-5">
            <h5 class="card-title">Teachers</h5>
            <p class="card-text">Pass the buck onto your teachers to take care of</p>
          </div>
        </div>
        <div class="dash-card card">
          <div class="card-img-top pt-5 mt-5">
            <a href="/admins/<%=@admin.id%>/students"><i class="fas fa-user-friends"></i></a>
          </div>
          <div class="card-body pb-5 mb-5">
            <h5 class="card-title">Students</h5>
            <p class="card-text">Manage the little rascals running around your school</p>
          </div>
        </div>
        <div class="dash-card card">
          <div class="card-img-top pt-5 mt-5">
            <a href="/admins/<%=@admin.id%>/reports"><i class="fas fa-chart-line"></i></a>
          </div>
          <div class="card-body pb-5 mb-5">
            <h5 class="card-title">Reports</h5>
            <p class="card-text">Check up on your kiddos to see how they're fairing</p>
          </div>
        </div>
        <div class="dash-card card">
          <div class="card-img-top pt-5 mt-5">
            <a href="/admins/<%=@admin.id%>/promote"><i class="fas fa-share-square"></i></a>
          </div>
          <div class="card-body pb-5 mb-5">
            <h5 class="card-title">Share-a-thon</h5>
            <p class="card-text">Promote your read-a-thon and receive more money</p>
          </div>
        </div>
        <div class="dash-card card">
          <div class="card-img-top mt-5 pt-5">
            <a href="/admins/<%=@admin.id%>/end_read_a_thon"><i class="fas fa-bell"></i></a>
          </div>
          <div class="card-body pb-5 mb-5">
            <h5 class="card-title">End-a-thon</h5>
            <p class="card-text">End your read-a-thon and collect your cash</p>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
