<div class="container-fluid">
  <h1>Students</h1>

  <%= turbo_stream_from "students" %>

  <div class="row">
    <div class="col-lg-5 col-sm-12">
      <%= form_tag(admin_students_path(@admin), method: :get) do %>
        <%= label_tag(:students_search, 'Enter first and last name to search', class: 'sr-only') %>
        <%= text_field_tag(:students_search, '', class:'w-50', placeholder: 'Enter first and last name to search') %>
        <%= submit_tag ("Search") %>
        <a href="/admins/<%= @admin.id %>/students" class=" btn btn-link ml-3">Show all students</a>
      <% end %>

      <div class="mt-7">
        <% if @students.nil? %>
          <div class="col-12 mb-9">
            <span>No students found</span>
          </div>
        <% else %>
          <div class="row">
            <%= turbo_frame_tag "students" do %>
              <%= render @students %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-lg-7 col-sm-12">
      <%= render partial: "students/new", locals: {student: Student.new} %>
      <div class="mx-6">
        <div class="row">
          <div class="col-6">
            <%= render partial: "students/form", locals: {student: Student.new} %>
          </div>
          <div class="col-6">
            <div class="card mx-6">
              <div class="card-img-top">
                <a href="/admins/<%=@admin.id%>/students_csv"><i class="fas fa-file-csv"></i></a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Add all</h5>
                <p class="card-text">Add a bunch of kiddos to your school</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
