<div class="container-fluid">
  <h1>Teachers</h1>
  <div class="row">
    <div class="col-lg-5 col-sm-12 mb-9">
      <%= form_tag(admin_teachers_path(@admin), method: :get) do %>
        <%= label_tag(:teachers_search, 'Enter first and last name to search', class: 'sr-only') %>
        <%= text_field_tag(:teachers_search, '', class:'w-50', placeholder: 'Enter first and last name to search') %>
        <%= submit_tag ("Search") %>
        <a href="/admins/<%= @admin.id %>/teachers" class="btn btn-link ml-3">Show all teachers</a>
      <% end %>

      <div class="mt-7">
        <% if @teachers.nil? %>
            <span>No Teachers Found</span>
        <% elsif @teachers.length > 3 %>
          <div class="list-group">
            <% @teachers.each do |teacher| %>
              <a class="list-group-item list-group-item-action"
                 href="/admins/<%= @admin.id %>/teachers?teachers_search=<%= teacher.id %>&commit=Search">
                <%= teacher.name %>
              </a>
            <% end %>
          </div>
        <% else %>
          <% @teachers.each do |teacher| %>
            <div class="display-4"><%= teacher.name %></div>
            <%= render partial: "teachers/edit", locals: {teacher: teacher} %>
            <div class="mb-3"><i class="fas fa-user-edit"></i><a href="#edit_teacher_modal_<%= teacher.id %>" data-toggle="modal"> Edit</a></div>
            <div class="mb-3"><i class="fas fa-file-pdf"></i><a href="/teachers/<%= teacher.id %>/printable.pdf"> Teacher login instructions</a></div>
            <div class="mb-3"><i class="fas fa-file-pdf"></i><a href="/teachers/<%= teacher.id %>/class_printable.pdf"> Class login instructions</a></div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="col-lg-7 col-sm-12">
      <%= render partial: "teachers/new", locals: {teacher: Teacher.new} %>
      <div class="mx-6">
        <div class="row">
          <div class="col-6">
            <div class="card mx-6">
              <div class="card-img-top">
                <a href="#new_teacher_modal" data-toggle="modal"><i class="fas fa-user-plus"></i></a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Add teacher</h5>
                <p class="card-text">Add a subordinate to help with your work</p>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="card mx-6">
              <div class="card-img-top">
                <a href="/admins/<%=@admin.id%>/teachers_csv"><i class="fas fa-file-csv"></i></a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Add all</h5>
                <p class="card-text">Add all your subordinates to pass off your work</p>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="card mx-6 my-6">
              <div class="card-img-top">
                <a href="/admins/<%= @admin.id %>/teacher_printable.pdf"><i class="fas fa-file-pdf"></i></a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Print Teacher Login Instructions</h5>
                <p class="card-text">Print out the necessary info for your teachers to login</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
