<%= turbo_frame_tag dom_id(student) do %>
  <li class="media mb-7">
    <% if student.avatar.attached? %>
      <div class="avatar mr-5" alt="student" style="background-image: url(<%=url_for(student.avatar)%>)"></div>
    <% else %>
      <div class="avatar mr-5" alt="student" style="background-image: url('/user-circle-solid.png')"></div>
    <% end %>
    <div class="media-body">
      <div class="h5 mt-0 mb-1"><%= student.name.titleize %></div>
      <div class="mb-3"><i class="fas fa-user"></i><a href="/students/<%= student.id %>" data-turbo="false"> View Student</a></div>
      <div class="mb-3"><i class="fas fa-columns"></i><a href="/students/<%= student.id %>/dashboard" data-turbo="false"> Student Dash</a></div>
      <div class="mb-3"><i class="fas fa-user-edit"></i><a href="#edit_student_modal_<%= student.id %>" data-toggle="modal" data-turbo="false"> Edit</a></div>
    </div>
  </li>
<% end %>
