<%= turbo_frame_tag dom_id(student) do %>
  <div class="row">
    <div class="col-4">
      <% if student.avatar.attached? %>
        <img src="<%= url_for(student.avatar) %>" class="rounded float-left" alt="student" width=100% height=auto>
      <% else %>
        <img src="/user-circle-solid.png" class="rounded float-left" alt="Avatar" width=100% height=auto>
      <% end %>
    </div>
    <div class="col-8 mb-9">
      <div class=""><%= student.name %></div>
      <%= render partial: "students/edit", locals: {student: student} %>
      <%= render partial: "reading_sessions/new", locals: {student: student, session: ReadingSession.new} %>
      <div class="mb-3"><i class="fas fa-user-edit"></i><a href="#edit_student_modal_<%= student.id %>" data-toggle="modal"> Edit</a></div>
      <div class="mb-3"><i class="fas fa-user"></i><a href="/students/<%= student.id %>"> View Student</a></div>
      <div class="mb-3"><i class="fas fa-columns"></i><a href="/students/<%= student.id %>/dashboard"> Student Dash</a></div>
    </div>
    </div>
<% end %>
