<% provide(:h1, @student.name) %>

<p>
  <strong>Goal:</strong>
  <%= "$%.2f" % @student.goal %>
</p>

<p>
  <strong>Total Sum:</strong>
  <%= "$%.2f" % @student.sum %>
</p>

<h3>Donations made to <%= @student.name%>:</h3>
<ul class="donations">
  <% Donation.where(student_id: @student.id).each do |donation| %>
    <li>From <%= donation.donor %>: <%= "$%.2f" % donation.amount %></li>
    <ul><li><%= donation.donor %> says: <%= donation.message %></li></ul>
  <% end %>
</ul>