<% provide(:h1, @student.name) %>

<p>
  <strong>Goal:</strong>
  <%= dollar_format(@student.goal) %>
</p>

<p>
  <strong>Total Sum:</strong>
  <%= dollar_format(@student.sum) %>
</p>

<h3>Donations made to <%= @student.name%>:</h3>
<ul class="donations">
  <% @donations.each do |donation| %>
    <li>From <%= donation.donor %>: <%= dollar_format(donation.amount) %></li>
    <ul><li><%= donation.donor %> says: <%= donation.message %></li></ul>
  <% end %>
</ul>