<div class="student pt-9 pb-10 mb-12">
  <div class="container">
    <div class="mx-xl-9 py-8 highlight">
      <div class="d-flex justify-content-around align-items-center px-10 row">
        <div class="col-md-5 col-sm-12 mb-6 mb-md-0" style="border-right: 3px solid white;">
          <div class="title"><%= @student.name %></div>
          <div class="mt-6 mb-7 text-light">Thank you so much for supporting my reading journey. I really appreciate your help.</div>
          <a href="#donate_modal" data-toggle="modal"><button type="button" id="begin_donate_button" class="btn btn-light btn-lg">Donate Now</button></a>
        </div>
        <div class="col-md-3 col-sm-6" >
          <div class="d-flex flex-column">
            <span><span class="student-stats"><%= @student.mins_read %></span> minutes read</span>
            <span class="my-8"><span class="student-stats"><%= @student.donations.count %></span> sponsors</span>
            <span><span class="student-stats"><%= dollar_format(@student.sum) %></span> in donations</span>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <% if @student.avatar.attached? %>
            <div class="picture"><img src="<%= url_for(@student.avatar) %>" class="rounded" alt="Student" width=100% height=auto></div>
          <% else %>
            <img src="/user-circle-solid-white.png" class="rounded" alt="Student" width=75% height=auto>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "donations/modal" %>

<%# TODO update urls when in production %>
<div class="d-flex justify-content-center pt-7">
  <div class="p-2"><h3>Help me by sharing:</h3></div>
   <div class="social-share p-2">
    <ul>
      <li>
        <a href="https://twitter.com/intent/tweet?text=" class="twitter" title="Share on Twitter"><i class="fab fa-twitter"></i></a>
      </li>
      <li>
        <a href="https://www.facebook.com/sharer/sharer.php?u=" class="facebook" title="Share on Facebook"><i class="fab fa-facebook"></i></a>
      </li>
      <li>
        <a href="mailto:?subject=<%= @student.name %> Read-a-Thon Fundraiser&body=Would you consider supporting me?" class="email" title="Send an Email"><i class="fas fa-envelope"></i></a>
      </li>
      <li>
        <a href="http://www.linkedin.com/shareArticle?mini=true&url=" class="linkedin" title="Share on LinkedIn"><i class="fab fa-linkedin"></i></a>
      </li>
    </ul>
  </div>
</div>

<div class="row ml-3 pb-9 pt-4">
  <div class="col-md-6 col-sm-12">
    <h3 class="pb-5 pt-3">Donations:</h3>
    <% @student.donations.reverse.each do |donation| %>
      <div class="donation">
        <span class="amount"><%= dollar_format(donation.amount) %></span>
        <span>"<%= donation.message %>"
        -<%= donation.donor %></span>
      </div>
    <% end %>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="fun">
      <h3 style="text-align:center;">Why we're fundraising</h3>
      <ol>
        <li>We want our kids to understand the joy of reading. So, for the next couple weeks, <%= @student.first_name %> will complete as many reading sessions as possible.</li>
        <li>We need to raise money and think this is a great way to do that</li>
        <li>This is one of the most profitable, child-friendly fundraisers available</li>
      </ol>
    </div>
  </div>
</div>

<script>
$(document).ready(function() {
  $("#donate_button").click(function() {
    $.post({
      url:'/students/<%= @student.id %>/donations',
      data: $('form').serialize(),
      success: function(response){
        var stripe = Stripe("<%= Rails.application.credentials[:stripe][Rails.env.to_sym][:publishable_key] %>");
        stripe.redirectToCheckout({
          sessionId: response.session_id
        }).then(function (result) {
          result.error.message
        });
      }
    })
  });
});
</script>
