<div class="row py-3">
  <div class="col-md-6 order-md-1 col-sm-12 order-2">
    <div class="col-8">
      <% if @student.avatar.attached? %>
        <img src="<%= url_for(@student.avatar) %>" class="rounded float-left" alt="student" width=100% height=auto>
      <% else %>
        <img src="http://www.fancyhands.com/images/default-avatar-250x250.png" class="rounded float-left" alt="Avatar" width=100% height=auto>
      <% end %>
    </div>
  </div>
  <div class="col-md-6 order-md-2 col-sm-12 order-1 bg-primary text-light pb-3">
    <div class="d-flex align-items-center mx-auto flex-column">
      <div class="pb-7 pt-7" style="font-size: 2.5rem;font-weight: bold;"><%= @student.name %></div>
      <div>I am so excited about the Read-a-thon we are holding.</div>
      <div>Please help me raise money while I read as much as possible. </div>
      <div>I'm counting on your help.</div>
      <a href="#donate_modal" data-toggle="modal"><button type="button" id="begin_donate_button" class="btn btn-light btn-lg mt-8">Donate Now</button></a>
    </div>
  </div>
</div>

<%= render "donations/modal" %>

<div class="d-flex justify-content-center mt-1">
  <div class="p-2"><h3>Help me by sharing:</h3></div>
   <div class="social-share p-2">
    <ul>
      <li>
        <a href="https://twitter.com/intent/tweet?text=" class="twitter" title="Share on Twitter"><i class="fab fa-twitter"></i></a>
      </li>
      <li>
        <a href="https://www.facebook.com/sharer/sharer.php?u=" class="facebook" title="Share on Facebook"><i class="fab fa-facebook"></i></a>
      </li>
      <li>
        <a href="mailto:?subject=<%= @student.name %> Read-a-Thon Fundraiser&body=Would you consider supporting me?" class="email" title="Send an Email"><i class="fas fa-envelope"></i></a>
      </li>
      <li>
        <a href="http://www.linkedin.com/shareArticle?mini=true&url=" class="linkedin" title="Share on LinkedIn"><i class="fab fa-linkedin"></i></a>
      </li>
    </ul>
  </div>
</div>

<div class="row ml-4 mb-7">
  <div class="col-md-6 col-sm-12">
    <h3 class="pb-5 pt-1">Donations:</h3>
    <% @student.donations.reverse.each do |donation| %>
      <div class="donation">
        <span class="amount"><%= dollar_format(donation.amount) %></span>
        "<%= donation.message %>"
        -<%= donation.donor %>
      </div>
    <% end %>
  </div>
  <div class="col-md-6 col-sm-12">
    <h3 class="pt-1">Reading Sessions:</h3>
    <ul>
      <% @student.reading_sessions.reverse.each do |session| %>
        <li><%= @student.name + " read " + session.time.to_s + " minutes on " + session.created_at.to_s(:long_ordinal) %></li>
      <% end %>
    </ul>
    <div class="p-2 mb-2 bg-dark text-light"><%= "Total time reading: " + to_hours_and_mins_s(@student.mins_read) %></div>
  </div>
</div>

<script src="https://js.stripe.com/v3/"></script>
<script>
$(document).ready(function() {
  $("#donate_button").click(function() {
    $.post({
      url:'/students/<%= @student.id %>/donations',
      data: $('form').serialize(),
      success: function(response){
        var stripe = Stripe("<%= Rails.application.credentials[:stripe][Rails.env.to_sym][:publishable_key] %>");
        stripe.redirectToCheckout({
          sessionId: response.session_id
        }).then(function (result) {
          result.error.message
        });
      }
    })
  });
});
</script>
