<% provide(:h1, @student.name) %>

<% if @student.about.present?%>
  <p><%= @student.about %></p>
<% end %>

<p> <strong><%= @student.name %>'s Sum:</strong> <%= dollar_format(@student.sum) %> </p>

<h3>Donations made to <%= @student.name%>:</h3>
<ul class="donations">
  <% @student.donations.each do |donation| %>
    <li>From <%= donation.donor %>: <%= dollar_format(donation.amount) %></li>
    <ul><li><%= donation.donor %> says: <%= donation.message %></li></ul>
  <% end %>
</ul>