<h1>New Reading Session:</h1>
<%= form_for @reading_session do |form| %>
    <%= form.hidden_field :student_id %>
    <%= form.hidden_field :student_id %>
    <%= form.label :time%>
    <%= form.number_field :time%>
    <%= form.submit "Submit" %>
<% end %>