<% provide(:h1, @teacher.name) %>

<p>
  <a href = "/teachers/<%= @teacher.id %>/edit">Edit my profile</a>
</p>

<p>
  <strong>Goal:</strong>
  <%= dollar_format(@teacher.goal) %>
</p>

<p>
  <strong>Total Sum of Class:</strong>
  <%= dollar_format(@teacher.sum) %>
</p>

<h3>My class:</h3>
<ul class="students">
  <% @students.each do |student| %>
    <li><a href ="/students/<%= student.id %>"><%= student.name %>: <%= dollar_format(student.sum) %></a> <a href = "/students/<%= student.id %>/edit">Edit</a></li>
  <% end %>
</ul>

<a href = "/students/new">Add a student</a>
