<% provide(:h1, @teacher.name) %>

<p>
  <strong>Goal:</strong>
  <%= dollar_format(@teacher.goal) %>
</p>

<p>
  <strong>Total Sum of Class:</strong>
  <%= dollar_format(@teacher.sum) %>
</p>

<h3><%= @teacher.name%>'s class:</h3>
<ul class="students">
  <% @students.each do |student| %>
    <a href ="/students/<%= student.id %>"><li><%= student.name %>: <%= dollar_format(student.sum) %></li></a>
  <% end %>
</ul>
