<h1>Register your school</h1>
<%= form_for @school do |form| %>
    <%= form.label :name %>
    <%= form.text_field :name %>
    <%= form.label :email%>
    <%= form.text_field :email%>
    <%= form.submit "Submit" %>
<% end %>