<div class="row py-3">
  <div class="col-md-6 order-md-1 col-sm-12 order-2">
    <% if @school.avatar.attached? %>
      <img src="<%= url_for(@school.avatar) %>" class="rounded float-left" alt="School" width=100% height=auto>
    <% else %>
      <img src="https://i.ytimg.com/vi/RYeKBOMr5Mo/maxresdefault.jpg" class="rounded float-left" alt="School" width=100% height=auto>
    <% end %>
  </div>
  <div class="col-md-6 order-md-2 col-sm-12 order-1 bg-primary text-white pb-3">
    <div class="d-flex align-items-center mx-auto flex-column">
      <div class="pb-3 pt-3" style="font-size: 1.4rem;font-weight: bold;"><%= @school.name %></div>
      <span>We have received <%= dollar_format(@school.sum) %> in donations!</span>
      <span>Our goal is <%= dollar_format(@school.goal) %></span>
        <a href="#donate_modal" data-toggle="modal"><button type="button" id="begin_donate_button" class="btn btn-light btn-lg mt-3">Donate Now</button></a>
    </div>
    <p><%= @school.about %></p>
  </div>
</div>

<%= render "donations/modal" %>

<div class="d-flex justify-content-center mt-3">
  <div class="p-2"><h3>Help us by sharing:</h3></div>
   <div class="social-share p-2">
    <ul>
      <li>
        <a href="https://twitter.com/intent/tweet?text=" class="twitter" title="Share on Twitter"><i class="fab fa-twitter"></i></a>
      </li>
      <li>
        <a href="https://www.facebook.com/sharer/sharer.php?u=" class="facebook" title="Share on Facebook"><i class="fab fa-facebook"></i></a>
      </li>
      <li>
        <a href="mailto:?subject=<%= @school.name %> Read-a-Thon Fundraiser&body=Would you consider supporting me?" class="email" title="Send an Email"><i class="fas fa-envelope"></i></a>
      </li>
      <li>
        <a href="http://www.linkedin.com/shareArticle?mini=true&url=" class="linkedin" title="Share on LinkedIn"><i class="fab fa-linkedin"></i></a>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-sm-12">
    <h3 class="pb-5 pt-3">Latest Donations to the School:</h3>
    <% @school.combined_donations.each do |donation| %>
      <div class="donation">
        <span class="amount"><%= dollar_format(donation.amount) %></span>
        "<%= donation.message %>"
        -<%= donation.donor %>
      </div>
    <% end %>
  </div>
</div>

<script src="https://js.stripe.com/v3/"></script>
<script>
$(document).ready(function() {
  $("#donate_button").click(function() {
    $.post({
      url:'/schools/<%= @school.id %>/donations',
      data: $('form').serialize(),
      success: function(response){
        var stripe = Stripe("<%= Rails.application.credentials[:stripe][Rails.env.to_sym][:publishable_key] %>");
        stripe.redirectToCheckout({
          sessionId: response.session_id
        }).then(function (result) {
          result.error.message
        });
      }
    })
  });
});
</script>
