<% provide(:h1, @school.name) %>

<p>
  <strong>Goal:</strong>
  <%= dollar_format(@school.goal) %>
</p>

<p>
  <strong>Total Sum of the School:</strong>
  <%= dollar_format(@school.sum) %>
</p>

<h3><%= @school.name%>'s classes:</h3>
<ul class="teachers">
  <% @teachers.each do |teacher| %>
    <a href ="/teachers/<%= teacher.id %>"><li><%= teacher.name %>: <%= "$%.2f" % teacher.sum %></li></a>
  <% end %>
</ul>
