<div class="row py-3">
  <div class="col-md-6 order-md-1 col-sm-12 order-2">
    <img src="https://i.ytimg.com/vi/RYeKBOMr5Mo/maxresdefault.jpg" class="rounded float-left" alt="School" width=100% height=auto>
  </div>
  <div class="col-md-6 order-md-2 col-sm-12 order-1 bg-primary text-white pb-3">
    <div class="d-flex align-items-center mx-auto flex-column">
      <div class="pb-3 pt-3" style="font-size: 1.4rem;font-weight: bold;"><%= @school.name %></div>
      <span>We have received <%= dollar_format(@school.sum) %> in donations!</span>
      <span>Our goal is <%= dollar_format(@school.goal) %></span>
      <a href="/donations/new/School/<%= @school.id %>"><button type="button" class="btn btn-light btn-lg mt-4">Donate Now</button></a>
    </div>
    <p>School About</p>
  </div>
</div>

<div class="d-flex justify-content-center mt-3">
  <div class="p-2"><h3>Help us by sharing:</h3></div>
   <div class="social-share p-2">
    <ul>
      <li>
        <a href="https://twitter.com/intent/tweet?text=" class="twitter" title="Share on Twitter"><i class="fa fa-twitter"></i></a>
      </li>
      <li>
        <a href="https://www.facebook.com/sharer/sharer.php?u=" class="facebook" title="Share on Facebook"><i class="fa fa-facebook"></i></a>
      </li>
      <li>
        <a href="mailto:?subject=<%= @school.name %> Read-a-Thon Fundraiser&body=Would you consider supporting me?" class="email" title="Send an Email"><i class="fa fa-envelope"></i></a>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-sm-12">
    <h3 class="pb-1 pt-3">Latest Donations to the School:</h3>
    <% @school.combined_donations.each do |donation| %>
      <div class="media">
        <img src= <%= "https://dummyimage.com/60x60/000/ffffff&text=" + dollar_format(donation.amount) %> class="align-self-start mr-3" alt="img">
        <div class="media-body">
          <blockquote class="blockquote">
            <p><%= donation.message %></p>
            <footer class="blockquote-footer"><%= donation.donor %></footer>
          </blockquote>
        </div>
      </div>
    <% end %>
  </div>
</div>