<% provide(:h1, @school.name) %>

<% if @school.about.present?%>
  <p><%= @school.about %></p>
<% end %>

<p> <strong><%= @school.name %>'s Goal:</strong> <%= dollar_format(@school.goal) %>  </p>

<p> <strong><%= @school.name %>'s Sum:</strong> <%= dollar_format(@school.sum) %> </p>

